force-app/main/default/flows/New_User_Adv.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Does_the_Username_Exist</name>
        <label>중복계정 정합성 판별</label>
        <locationX>710</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Create_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_user_With_Username.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Username_Exists</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Enough_Licenses</name>
        <label>라이센스 수량 판별</label>
        <locationX>1040</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>기타</defaultConnectorLabel>
        <rules>
            <name>Available_Licenses</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AvailableLicenseCountFormula</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_User</targetReference>
            </connector>
            <label>잔여 라이센스 수량 있음</label>
        </rules>
        <rules>
            <name>No_Licenses</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AvailableLicenseCountFormula</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateUserFailed</targetReference>
            </connector>
            <label>잔여 라이센스 수량 없음</label>
        </rules>
    </decisions>
    <decisions>
        <description>1. 포털 사용자는 대리점에 등록된 딜러인지 판별
2. 이미 생성된 사용인지 판별</description>
        <name>user_Decision</name>
        <label>사용자와 연락처 정합성 판별</label>
        <locationX>545</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_License_Counts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>정합성 통과</defaultConnectorLabel>
        <rules>
            <name>Not_Use_Contact</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Contact_GetRecord.Account.IsPartner</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact_GetRecord.Account.IsPartner</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Use_Contact_Message_Screen</targetReference>
            </connector>
            <label>사용불가 연락처</label>
        </rules>
        <rules>
            <name>Already_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_GetRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Already_User_Message_Screen</targetReference>
            </connector>
            <label>이미등록 사용자</label>
        </rules>
    </decisions>
    <description>상세보기 화면에서 [포털 사용자 등록]과 연결</description>
    <dynamicChoiceSets>
        <name>ProfileChoices</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>ST_</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Standard User</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Standard Platform User</stringValue>
            </value>
        </filters>
        <object>Profile</object>
        <outputAssignments>
            <assignToReference>ProfileId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>AliasFormula</name>
        <dataType>String</dataType>
        <expression>{!Last_Name} + {!First_Name}</expression>
    </formulas>
    <formulas>
        <name>AvailableLicenseCountFormula</name>
        <dataType>Number</dataType>
        <expression>{!Get_License_Counts.TotalLicenses} - {!Get_License_Counts.UsedLicenses}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>ContactArg로 넘겨받은 값으로 Contact_GetRecord로 알아낸 연락처이름(Contact.Name)을 변수에 저장</description>
        <name>ContactNameFormula</name>
        <dataType>String</dataType>
        <expression>{!Contact_GetRecord.Name}</expression>
    </formulas>
    <formulas>
        <name>EmailFormula</name>
        <dataType>String</dataType>
        <expression>{!Contact_GetRecord.Email}</expression>
    </formulas>
    <formulas>
        <name>FirstNameFormula</name>
        <dataType>String</dataType>
        <expression>{!Contact_GetRecord.FirstName}</expression>
    </formulas>
    <formulas>
        <name>LastNameFormula</name>
        <dataType>String</dataType>
        <expression>{!Contact_GetRecord.LastName}</expression>
    </formulas>
    <formulas>
        <name>NickNameFormula</name>
        <dataType>String</dataType>
        <expression>{!Contact_GetRecord.AssistantName}</expression>
    </formulas>
    <formulas>
        <name>UsernameFormula</name>
        <dataType>String</dataType>
        <expression>{!Email.value}</expression>
    </formulas>
    <interviewLabel>New User Adv {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New User Adv</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_User</name>
        <label>Create User</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
        <inputAssignments>
            <field>Alias</field>
            <value>
                <elementReference>AliasFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CommunityNickname</field>
            <value>
                <elementReference>NickNameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailEncodingKey</field>
            <value>
                <stringValue>ISO-8859-1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LanguageLocaleKey</field>
            <value>
                <stringValue>ko</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocaleSidKey</field>
            <value>
                <stringValue>ko</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProfileId</field>
            <value>
                <elementReference>ProfileId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeZoneSidKey</field>
            <value>
                <stringValue>Asia/Seoul</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Username</field>
            <value>
                <elementReference>UserName</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Arg로 넘어온 ContactID를 이용해서
해당 연락처의 이름, 이메일 등의 정보를 변수로 담아 놓음
LastNameFormula FirstNameFormula EmailFormula ContactNameFormula을 변수에 담기</description>
        <name>Contact_GetRecord</name>
        <label>Contact_GetRecord</label>
        <locationX>545</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_GetRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_user_With_Username</name>
        <label>중복계정 확인</label>
        <locationX>710</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_the_Username_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserName</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_License_Counts</name>
        <label>포털 라이센스 수량 확인</label>
        <locationX>1040</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Enough_Licenses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LicenseDefinitionKey</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PID_Partner_Community</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserLicense</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>이미 User로 생성된 경우 (&quot;이미 사용된 사용자입니다&quot;) 표시</description>
        <name>User_GetRecord</name>
        <label>User_GetRecord</label>
        <locationX>545</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>user_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Already_User_Message_Screen</name>
        <label>이미 등록된 사용자</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>text_Already_User_Message_Screen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(47, 0, 255);&quot;&gt;이미 등록된 사용자 입니다.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation</name>
        <label>사용자 생성 완료</label>
        <locationX>842</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Text3</name>
            <fieldText>&lt;p&gt;새로운 사용자를 생성하였습니다.&lt;/p&gt;&lt;p&gt;&lt;br/&gt;&lt;/p&gt;&lt;p&gt;성명 : {!Last_Name} {!First_Name}&lt;/p&gt;&lt;p&gt;계정 : {!UsernameFormula}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_New_User</name>
        <label>사용자 생성</label>
        <locationX>710</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Find_user_With_Username</targetReference>
        </connector>
        <fields>
            <name>ContactNameScreen</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ContactNameFormula</elementReference>
            </defaultValue>
            <fieldText>이름</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>FirstNameFormula</elementReference>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>LastNameFormula</elementReference>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>EmailFormula</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>UserName</name>
            <dataType>String</dataType>
            <fieldText>User Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Profile</name>
            <choiceReferences>ProfileChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Profile</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CreateUserFailed</name>
        <label>사용자 생성 실패</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Text2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(13, 102, 255);&quot;&gt;현재 라이센스 수량이 부족합니다.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_Use_Contact_Message_Screen</name>
        <label>사용불가 사용자</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>text_Not_Use_Contact_Message_Screen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 26, 255);&quot;&gt;포털 사용자는 대리점에 등록된 딜러만 가능합니다&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Username_Exists</name>
        <label>사용자이름 이미 존재</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Text1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(14, 12, 254);&quot;&gt;동일한 사용자 이름이 있습니다.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Contact_GetRecord</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>ProfileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
