force-app/main/default/flows/Purchase_Order_Edit_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assignment_4</name>
        <label>Assignment 4</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>Toast_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>확정이나 취소된 발주서는 수정할 수 없습니다.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Toast</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>countRecord</name>
        <label>countRecord</label>
        <locationX>336</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>CountRecordIds</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_SelectedIds_Length</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Plz_Selected_One_Record</name>
        <label>Plz Selected One Record</label>
        <locationX>50</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>Toast_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>하나의 레코드만 선택해주세요</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Toast</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Plz_Selected_Record</name>
        <label>Plz Selected Record</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Toast_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>목록중에 한 개를 체크하여 주십시요.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Toast</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_Has_Record_Record_Status</name>
        <label>check Has Record &amp;&amp; Record Status</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>UniqueName</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Record_Status_Registration</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Purchase_Order_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Purchase_Order_Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Registration</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_4</targetReference>
            </connector>
            <label>Not Record &amp; Status Registration</label>
        </rules>
    </decisions>
    <decisions>
        <description>선택된 아이템 숫자 확인</description>
        <name>Check_SelectedIds_Length</name>
        <label>Check SelectedIds Length</label>
        <locationX>248</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>Get_Purchase_Order_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Multiple_selection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountRecordIds</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Plz_Selected_One_Record</targetReference>
            </connector>
            <label>Multiple selection</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Selected_Record</name>
        <label>Is Selected Record</label>
        <locationX>545</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Plz_Selected_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedIds</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SelectedIds_Length</targetReference>
            </connector>
            <label>Selected</label>
        </rules>
    </decisions>
    <description>발주 수정화면</description>
    <environments>Default</environments>
    <formulas>
        <name>CollectionToString</name>
        <dataType>String</dataType>
        <expression> SUBSTITUTE(SUBSTITUTE({!selectedIds}, &apos;[&apos;, &apos;&apos;), &apos;]&apos;, &apos;&apos;)</expression>
    </formulas>
    <interviewLabel>[Purchase Order]Edit Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Purchase Order]Edit Order</label>
    <loops>
        <description>선택된 데이터 갯수</description>
        <name>Assign_SelectedIds_Length</name>
        <label>Assign SelectedIds Length</label>
        <locationX>248</locationX>
        <locationY>242</locationY>
        <collectionReference>selectedIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>countRecord</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_SelectedIds_Length</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Purchase_Order_Record</name>
        <label>Get Purchase Order Record</label>
        <locationX>446</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_Has_Record_Record_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CollectionToString</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PurchaseOrder__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Toast</name>
        <label>Toast</label>
        <locationX>248</locationX>
        <locationY>1250</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Alert</name>
            <extensionName>c:flowConfirmComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>Toast_Message</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Information</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>UniqueName</name>
        <label>발주 수정</label>
        <locationX>578</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EditData</name>
            <extensionName>c:gfCreatePurchaseOrderModal</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <elementReference>objectName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>defaultValue</name>
                <value>
                    <stringValue>Edit</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedIds</name>
                <value>
                    <elementReference>CollectionToString</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Selected_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CountRecordIds</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>objectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Toast_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
