force-app/main/default/flows/Purchase_Order_Detemined_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <description>조회한 레코드가 없을때</description>
        <name>No_Data</name>
        <label>No Data</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Toast_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>레코드를 조회할수 없습니다.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Toast</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>알림 정보 메시지 아이템 정보가 없습니다.</description>
        <name>No_Data_Item_List</name>
        <label>No Data Item List</label>
        <locationX>314</locationX>
        <locationY>1232</locationY>
        <assignmentItems>
            <assignToReference>Toast_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>아이템 정보가 없습니다.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Toast</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>알림 메시지 수량을 입력해주세요</description>
        <name>Plz_Insert_Quantity</name>
        <label>Plz Insert Quantity</label>
        <locationX>138</locationX>
        <locationY>1448</locationY>
        <assignmentItems>
            <assignToReference>Toast_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>수량을 입력해주세요</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Toast</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Plz_Selected_Record</name>
        <label>Plz Selected Record</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Toast_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>목록중에 한 개를 체크하여 주십시요.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Toast</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>확정 수량 입력</description>
        <name>Set_Confirm_Quantity</name>
        <label>Set Confirm Quantity</label>
        <locationX>402</locationX>
        <locationY>1448</locationY>
        <assignmentItems>
            <assignToReference>Loop_Purchase_Order_Item_List.ConfirmQuantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Purchase_Order_Item_List.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchaseOrderItemRecordList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Purchase_Order_Item_List</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Purchase_Order_Item_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>상태값을 확정상태로 변경</description>
        <name>Set_Status</name>
        <label>Set Status</label>
        <locationX>534</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Loop_Purchase_Order_Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Determined</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchaseOrderList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Purchase_Order_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Purchase_Order_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>알림 메시지 상태값이 등록 상태일때만 확정할수 있습니다.</description>
        <name>Status_Not_Registration_Message</name>
        <label>Status Not Registration Message</label>
        <locationX>270</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Toast_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>등록상태일때만 확정할수 있습니다.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Toast</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>오더 아이템 정보가 있는지 확인</description>
        <name>Check_Purchase_Order_Item_List</name>
        <label>Check Purchase Order Item List</label>
        <locationX>182</locationX>
        <locationY>1124</locationY>
        <defaultConnector>
            <targetReference>No_Data_Item_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Purchase_Order_Item_List</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Purchase_Order_Item_List</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Purchase_Order_Item_List</targetReference>
            </connector>
            <label>Has Purchase Order Item List</label>
        </rules>
    </decisions>
    <decisions>
        <description>Oder 정보를 가져고 왔는지 확인</description>
        <name>Check_Purchase_Order_Record_List</name>
        <label>Check Purchase Order Record List</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>No_Data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_RecordList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Purchase_Order_Record</targetReference>
            </connector>
            <label>Has Record</label>
        </rules>
    </decisions>
    <decisions>
        <description>Quantity 입력되어 있는지 확인</description>
        <name>Check_Quantity</name>
        <label>Check Quantity</label>
        <locationX>270</locationX>
        <locationY>1340</locationY>
        <defaultConnector>
            <targetReference>Set_Confirm_Quantity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Quantity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Purchase_Order_Item_List.Quantity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Plz_Insert_Quantity</targetReference>
            </connector>
            <label>Not Quantity</label>
        </rules>
    </decisions>
    <decisions>
        <description>조회한 레코드의 상태값 확인 상태값이 등록상태일때만 확정 가능</description>
        <name>Check_Status</name>
        <label>Check Status</label>
        <locationX>402</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Set_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Not_Registration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Purchase_Order_Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Registration</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Not_Registration_Message</targetReference>
            </connector>
            <label>Status Not Registration</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Selected_Record</name>
        <label>Is Selected Record</label>
        <locationX>611</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Plz_Selected_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedIds</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_RecordList</targetReference>
            </connector>
            <label>IsSelected</label>
        </rules>
    </decisions>
    <description>주문 확정</description>
    <environments>Default</environments>
    <interviewLabel>[Purchase Order] New Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Purchase Order] Detemined Order</label>
    <loops>
        <name>Loop_Purchase_Order_Item_List</name>
        <label>Loop Purchase Order Item List</label>
        <locationX>50</locationX>
        <locationY>1232</locationY>
        <collectionReference>Get_Purchase_Order_Item_List</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Quantity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Purchase_Order</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Purchase_Order_Record</name>
        <label>Loop Purchase Order Record</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_RecordList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Purchase_Order_Item_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Purchase Order Item  Record 정보를 조회한다.</description>
        <name>Get_Purchase_Order_Item_List</name>
        <label>Get Purchase Order Item List</label>
        <locationX>182</locationX>
        <locationY>1016</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Purchase_Order_Item_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PurchaseOrder__c</field>
            <operator>In</operator>
            <value>
                <elementReference>selectedIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PurchaseOrderLineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>선택된 Order 정보를 가져온다</description>
        <name>Get_RecordList</name>
        <label>Get RecordList</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Purchase_Order_Record_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>selectedIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PurchaseOrder__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Purchase_item_List</name>
        <label>Update Purchase item List</label>
        <locationX>50</locationX>
        <locationY>1898</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <inputReference>PurchaseOrderItemRecordList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Purchase_Order</name>
        <label>Update Purchase Order</label>
        <locationX>50</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>Update_Purchase_item_List</targetReference>
        </connector>
        <inputReference>PurchaseOrderList</inputReference>
    </recordUpdates>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>50</locationX>
        <locationY>2006</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessAlert</name>
            <extensionName>c:flowConfirmComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>주문 확정 하였습니다.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>theme</name>
                <value>
                    <stringValue>shade</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Toast</name>
        <label>Toast</label>
        <locationX>611</locationX>
        <locationY>2474</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Alert</name>
            <extensionName>c:flowConfirmComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>Toast_Message</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Infomation</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Selected_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>objectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PurchaseOrderItemRecordList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PurchaseOrderLineItem__c</objectType>
    </variables>
    <variables>
        <name>PurchaseOrderList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PurchaseOrder__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Toast_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
