force-app/main/default/flows/Purchase_Order_Cancellation_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <description>알림창 메시지</description>
        <name>alert_Message_Assign</name>
        <label>alert Message Assign</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Toast_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>발주 등록 상태에서만 취소가 가능합니다.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Toast</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>조회한 레코드가 없을때</description>
        <name>No_Data</name>
        <label>No Data</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Toast_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>데어터를 조회할수 없습니다.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Toast</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Plz_Selected_Record</name>
        <label>Plz Selected Record</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Toast_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>취소할 데이터를 선택해주세요</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Toast</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>상태값변경</description>
        <name>Set_Status</name>
        <label>Set Status</label>
        <locationX>402</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Loop_1.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancellation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateOrderList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_status</name>
        <label>check status</label>
        <locationX>270</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Set_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Not_Registration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_1.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Registration</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>alert_Message_Assign</targetReference>
            </connector>
            <label>Status Not Registration</label>
        </rules>
    </decisions>
    <decisions>
        <description>데이터가 있는지 체크</description>
        <name>Has_Record_List</name>
        <label>Has Record List</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>No_Data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>has</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_RecordList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_1</targetReference>
            </connector>
            <label>has</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Selected_Record</name>
        <label>Is Selected Record</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Plz_Selected_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedIds</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_RecordList</targetReference>
            </connector>
            <label>IsSelected</label>
        </rules>
    </decisions>
    <description>주문 취소</description>
    <environments>Default</environments>
    <formulas>
        <name>CurrentPageReference</name>
        <dataType>String</dataType>
        <expression>$Flow.CurrentPageReference</expression>
    </formulas>
    <interviewLabel>[Purchase Order] Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Purchase Order] Cancellation Order</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_RecordList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>선택된 Order 정보를 가져온다</description>
        <name>Get_RecordList</name>
        <label>Get RecordList</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Record_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>selectedIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PurchaseOrder__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>50</locationX>
        <locationY>1016</locationY>
        <connector>
            <targetReference>Toast2</targetReference>
        </connector>
        <inputReference>UpdateOrderList</inputReference>
    </recordUpdates>
    <screens>
        <name>Toast</name>
        <label>Toast</label>
        <locationX>380</locationX>
        <locationY>1508</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Alert</name>
            <extensionName>c:flowConfirmComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>CurrentPageReference</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Information</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Toast2</name>
        <label>Toast2</label>
        <locationX>50</locationX>
        <locationY>1124</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Alert2</name>
            <extensionName>c:flowConfirmComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>theme</name>
                <value>
                    <stringValue>Success</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Success</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>취소하였습니다.</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Selected_Record</targetReference>
        </connector>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <name>objectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Toast_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>스테이터스 수정할 레코드 리스트</description>
        <name>UpdateOrderList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PurchaseOrder__c</objectType>
    </variables>
</Flow>
